.j-header {
    
        color: "black";
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 5rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
}
.j-header:after {
    content: "Jobs";
    color: var(--Orange);

}

.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

@media (max-width: 768px) {
  .responsive-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block;
  }

  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-table tbody tr {
    border: 1px solid #ddd;
  }

  .responsive-table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .responsive-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .responsive-table td:nth-of-type(1):before {
    content: "Job Title:";
  }

  .responsive-table td:nth-of-type(2):before {
    content: "Company:";
  }

  .responsive-table td:nth-of-type(3):before {
    content: "Experience:";
  }

  .responsive-table td:nth-of-type(4):before {
    content: "Apply:";
  }

  .responsive-table td:nth-of-type(5):before {
    content: "CV Status";
  }
}
.explore {
  color: var(--Orange);
}

.jobtext {
  display: flex-end;
  align-items: end;
}

.btn-nav.dis:hover {
  cursor: not-allowed;
  opacity: 0.6;
  background: linear-gradient(132deg, #F65C06 0%, #B65823 100%);
  color: var(--white);
}