

.header {
   height: 100vh;
   background-image: url('../../Assets/Images/background.png');
   display: flex;
 
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

.i-left >:nth-child(1) {
    font-size:3rem;
    color: "black";
    padding-top: 10rem;
}
.i-left >:nth-child(2) {
    font-size: 5rem;
    color: "black";  
    display: block;
    padding-top: 0.1rem;
}
.i-left >:nth-child(2):after {
    content: "Quest";
    color: var(--Orange);
  }
.i-left >:nth-child(3) {
    font-size: 2rem;
    color: "black";  
}
.i-right {
  flex: 1;  
  position: relative;
}
.banner {
  width: 700px;
  height: 550px;
}

/*desktops - higher resolution*/
@media (min-width: 1281px)
{

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px)
{

} 

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px)
{
  .i-left >:nth-child(1) {
    font-size:2rem;
    padding-top: 5rem;
}
.i-left >:nth-child(2) {
    font-size: 4rem;
}

.i-left >:nth-child(3) {
    font-size: 1.5rem;
  
}
.banner {
  width: 400px;
  height: 300px;
}
.header {
  height: 35vh;
}
}
/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
  
}
/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px)
{
  .i-left >:nth-child(1) {
    font-size:2rem;
    padding-top: 5rem;
}
.i-left >:nth-child(2) {
    font-size: 3.5rem;
}

.i-left >:nth-child(3) {
    font-size: 1.5rem;
  
}
.banner {
  width: 300px;
  height: 300px;
}
.header {
  height: 50vh;
}
}
/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
  .i-left >:nth-child(1) {
    font-size:2rem;
    padding-top: 5rem;
}
.i-left >:nth-child(2) {
    font-size: 3.5rem;
}

.i-left >:nth-child(3) {
    font-size: 1.5rem;
  
}
.banner {
  width: 300px;
  height: 300px;
}
.header {
  height: 50vh;
}
}