:root 
{
  --black: #000000;
  --grey:  #1E1E1E;
  --Orange: #FC5C02;
  --btnColorLight:  linear-gradient(132deg, #F65C06 0%, #B65823 100%);
  --btnShadowLight:  0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 39px 0px #8E3A09;
  --orangeLight:rgba(252, 92, 2, 0.61);
  --jobCardShadowLight:4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px -4px 62px 0px rgba(56, 54, 54, 0.25);
  --white:#FFFFFF;
  --btnShadowDark:0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 41px 0px #9A4718;
  --jobCardShadowDark:4px 4px 20px 0px #FFF, -4px -4px 24px 0px rgba(253, 253, 253, 0.69);
}

.App
{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.btn-nav {
/* width: 93px;
height: 35px; */
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(132deg, #F65C06 0%, #B65823 100%);
box-shadow: var(--btnShadowDark);
color: var(--white);
border: none;
margin: 1rem;
padding: 1rem 1rem 1rem 1rem;
}
.btn-nav:hover {
  cursor: pointer;
  background:var(--white);
  color: var(--Orange);
  border: 1px solid var(--Orange);
}